openai~=0.27.0
requests~=2.31.0
pandas~=1.3.5
numpy~=1.26.4
scikit-learn~=1.6.1
tiktoken
tree-sitter-c
tree-sitter-cpp
tree-sitter-go
tree-sitter-java
tree-sitter-javascript
tree-sitter-php
tree-sitter-ruby
tree-sitter-typescript
tree-sitter
javalang
ijson
transformers
datasets
accelerate
peft
bitsandbytes
jupyterlab